<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Edit List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Items</ion-title>
    </ion-toolbar>
  </ion-header>
  <form id="itemForm" (ngSubmit)="addItem()">
    <ion-item>
      <ion-input type="text" [(ngModel)]="input.item" id="item" name="item" placeholder="type something here"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">Add</ion-button>
  </form>
  <br />
  <form (ngSubmit)="clearList()">
    <ion-button expand="block" type="submit">Clear List</ion-button>
  </form>


</ion-content>
