<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list  *ngFor ="let item of myList">
    <ion-item-sliding>
      <ion-item-options side="start">
        <ion-item-option (click)="cycle(item)">Cycle</ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-label>{{item.name}}</ion-label>
        <ion-badge>{{item.frequency}} days</ion-badge>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="remove(item)">Delete</ion-item-option>
        <ion-item-option color="warning" (click)="reset(item)">Reset</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
